@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --fontColor: white;
    --libraryBackGd: rgb(136, 215, 230);
}

*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: cadetblue;
    height: 4rem;
    color: var(--fontColor);
    font-size: 32px;
}

.nav > button{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.books{
    height: 600px;
    width: 89vw;
    margin: 48px auto;
    padding: 48px;
    background-color: var(--libraryBackGd);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 260px));
    grid-template-rows: repeat(auto-fill, minmax(280px,280px));
    gap: 24px;
    overflow-y: scroll;
}

.books > div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 18px;
    background-color: rgb(212, 212, 212);
    color: black;
    font-size: 24px;
}

.books > .book > .Title{
    text-align: center;
    margin-bottom: 18px;
    background-color: white;
    width: 100%;
    font-size: 24px;
}

.books > div:hover{
    border: 1px solid white;
    outline: 1px solid white;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

form{
    position: absolute;
    right: 0;
    top: 75px;
    width: 360px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin: 24px;
    padding: 48px 36px;
    background-color: burlywood;
    font-size: 18px;
    visibility: hidden;
    /* opacity: 0.8; */
}

form > h1{
    font-size: 32px;
}

form > div{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

input[type="text"]{
    background-color: inherit;
    border: 0;
    border-bottom: 1px solid white;
    width: 150px;
}

input[type="text"]:focus{
    border: 0px;
    outline: 1px solid white;
}

.status{
    display: flex;
    gap: 12px;
}

.buttons > button{
    margin: 1rem auto;
    padding: 12px;
    border-radius: 12px;
}

.footer{
    width: 100%;
    background-color: antiquewhite;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}























